input[type="file" i] {
   display:none;
}

 .imgstyle {
        font-size: 1rem;
        width: 150px;
        color:#815ae6;
        background-color: white;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
        text-align: center;
        padding: 5px;
        }
.iconoDescargar{
    color:#815ae6; 
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
        }

 .react-calendar {
            width: 100% !important;
            background: white;
            border: 1px solid #a0a096;
            font-family: 'Roboto', sans-serif !important;
            font-size: 1rem;
        }